<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>819058821560-474q53gt7k2u75gtlehqner4bq1p714n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.819058821560-474q53gt7k2u75gtlehqner4bq1p714n</string>
	<key>API_KEY</key>
	<string>AIzaSyA9XdjD5GFRNdo7Bn8Qrzcun6xeq5L5Q9s</string>
	<key>GCM_SENDER_ID</key>
	<string>819058821560</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tusharojha.quickmeet</string>
	<key>PROJECT_ID</key>
	<string>quickmeet-app</string>
	<key>STORAGE_BUCKET</key>
	<string>quickmeet-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:819058821560:ios:192e749092d97e0306a74d</string>
</dict>
</plist>